body{
    background: url("./images/background.jpg");
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#options{
    display:flex;
    flex-direction: column;
    margin-right: 5em;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-self: center;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

button{
    display:inline-block;
    padding:1em 2em;
    border:0.1em solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);  
    margin:2em 0 0 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    cursor: pointer;
    transition: all 0.2s;
}

.highlighted{
    display:inline-block;
    padding:1em 2em;
    border:0.1em solid #FFFFFF;
    background-color: white;  
    margin:2em 0 0 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    cursor: pointer;
}

#options button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    #options button{
    display:block;
    margin:0.4em auto;
    }
    } 


input[type="range"]{
    margin-top: 25px;
}    

#gridSize{
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    font-size: 1em;
}    

#container{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 80px 80px 80px;
    border-radius: 5px;
}

#container p{
    margin-bottom: 25px;
    font-family: "Noto Sans Mono", monospace;
    color:#d8ad54;
    font-size: 2vw;
}

#container span{
    font-size: 4vw;
    font-family: "Dancing Script", cursive;
    margin: 0px 10px;
}

#grid{
    display: flex;
    height: 30vw;
    width: 40vw;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #dee0e0;
}

.column{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
    border: 1px solid black;
}

.pixel{
    flex: 1;
}